---
import BaseLayout from "../layouts/BaseLayout.astro";
import VideoCard from "../components/VideoCard.astro";
---

<BaseLayout title="ClayTube">
  <main>
    <h1>ClayTube</h1>
    <VideoCard title="Static video portal scaffold" />
  </main>
</BaseLayout>
